
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Kanit', sans-serif !important;
	font-weight: 100 !important;
	font-size: 18px !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
:root {
	--primary: #203669 !important;
	--hov-primary: #333 !important;
	--border_radius: 10px;
}

a {
	text-decoration:none !important;
}
body .card {
	border-radius: var(--border_radius);
}
body .card-img ,
body .card-img-top {
	border-top-left-radius: var(--border_radius);
	border-top-right-radius: var(--border_radius);
}

img {
	max-width: 100%;
	object-fit: cover;
}
.text-line1 ,
.text-line2 ,
.text-line3 ,
.text-line4 ,
.text-line5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: pre-wrap;
}
.text-line1 {
  -webkit-line-clamp: 1;
}
.text-line2 {
  -webkit-line-clamp: 2;
}
.text-line3 {
  -webkit-line-clamp: 3;
}
.text-line4 {
  -webkit-line-clamp: 4;
}
.text-line5 {
  -webkit-line-clamp: 5;
}

header {
  position: sticky;
  position: -o-sticky;
  position: -moz-sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 1033;
  background-color: #ffffff;
  transition: top .3s;
}
	header img.img-logo {
		height: 70px;
	}
	header button.navbar-toggler {
    box-shadow: none;
    outline: none;
	}
  header .navbar-toggler-icon {
    background: none;
    position: relative;
    width: 24px;
  }
		header .navbar-toggler-icon:before {
      height: 3px;
      width: 24px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #1E1F1F;
      transition: transform ease .5s;
      content: '';
      display: block;
      margin: auto;
		}
		header button[aria-expanded="true"] .navbar-toggler-icon:before {
      transition: transform .5s ease .5s;
      opacity: 1;
      transform: rotate(-40deg);
		}
		header .navbar-toggler-icon:after {
      height: 3px;
      width: 24px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #1E1F1F;
      box-shadow: 0 8px 0 #1E1F1F, 0 -8px 0 #1E1F1F;
      transition: transform ease .5s,box-shadow .5s ease .5s;
      content: '';
      display: block;
      margin: auto;
		}
		header button[aria-expanded="true"] .navbar-toggler-icon:after {
      transition: transform .5s ease .5s,box-shadow ease .5s;
      box-shadow: 0 0 0;
      transform: rotate(40deg);
		}

section.box-list {

}
	section.box-list .card {
		border: 0px;
	}
		.box-list .card .card-body {
		
		}
			section.box-list .card img.card-img-top {
				aspect-ratio: 440/395;
			}

		.box-list .card .card-footer {
			background-color: transparent;
			border: 0px;
			padding-top: 0px;
		}

/* ---------------------------------------------------**** Tablet ****--------------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

 /* แนวตั้ง */
 @media only screen and (orientation:portrait){

 }
 /* แนวนอน */
 @media only screen and (orientation:landscape){

 }
}

/* ---------------------------------------------------**** Mobile ****--------------------------------------------------- */
@media only screen and (min-width: 320px) and (max-width: 767px) {
	header .navbar-collapse {
    position: fixed;
    top: 0px;
    right: 0px;
    height: calc(100vh - 86px) !important;
    background-color: #e3e3e3;
    margin-top: 86px;
    z-index: 98;
    transition: left 0.5s ease !important;
    width: 350px;
    left: -350px;
  }
  header .navbar-collapse.show {
    left: 0px;
  }
  header .navbar-collapse .navbar-nav {
    height: calc(100vh - 86px);
    overflow-y: auto;
    padding: 5vh 40px;
    width: 100%;
    order: 1;
  }
  header .navbar-collapse + .box-shadow {
    content: "";
    left: 0px;
    top: 0px;
    position: fixed;
    width: 100%;
    height: calc(100vh - 86px) !important;
    background-color: rgb(0 0 0 / 46%);
    margin-top: 86px;
    display: none;
  }
  header .navbar-collapse.show + .box-shadow {
    display: block;
  }
 /* แนวตั้ง */
 @media only screen and (orientation:portrait){

	}
 /* แนวนอน */
 @media only screen and (orientation:landscape){

 }
}